main {
  width: 70%;
  margin: auto;
  text-align: center;
}

main button {
  background-color: #2D8CFF;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;

  display: block;
  margin: 1rem auto;
}

main button:hover {
  background-color: #2681F2;
}
